#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(193, 215, 224);
  border-style: double;
  color:rgb(165, 110, 42);
}
/* .poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
} */

body {
  background-color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 2;
}

img {
  margin-left: 50px;
}