.portfolioitems {
    max-width: 728px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
   
}

.portfolioitems img {
    width: 75%;
    margin: 0 auto;
}

.lineBoilImg {
    background-color: rgb(254, 254, 254);
    width: 75%;
    margin: auto 0;
}

body {
    font-family: "Dm sans", sans-serif;
    background-color: rgb(254, 254, 254);
    color:rgb(31, 31, 40);
}