.odd {
    background-color: rgb(208, 216, 226);
    color:rgb(9, 9, 75);
    font-weight: 600;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }