body {
    background-color: rgb(95, 135, 170);
    font-family: 'Oswald', sans-serif;
    color: blanchedalmond;
    text-align: center;
    
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color:blanchedalmond;
}
