.portfolioitems {
    max-width: 728px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(254, 254, 254);
    color:rgb(31, 31, 40);
}


.portfolioitems img {
    width: 75%;
}